<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
	<!-- sbb CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}">

	<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">SBB</title>

</head>
<body>

	<!-- 기 본 템 플 릿 안 에 삽 입 될 내 용 Start -->
	<th:block layout:fragment="content"></th:block>
	<!-- 기 본 템 플 릿 안 에 삽 입 될 내 용 End -->

</body>
</html>