<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!--	&lt;!&ndash; Bootstrap CSS &ndash;&gt;-->
<!--	<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">-->
<!--	&lt;!&ndash; sbb CSS &ndash;&gt;-->
<!--	<link rel="stylesheet" type="text/css" th:href="@{/style.css}">-->

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

	<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">SBB</title>

</head>
<body>

	<!-- 기 본 템 플 릿 안 에 삽 입 될 내 용 Start -->
	<th:block layout:fragment="content"></th:block>
	<!-- 기 본 템 플 릿 안 에 삽 입 될 내 용 End -->

</body>
</html>