<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout.html}">
<head>
	<title>Question Detail View</title>
</head>
<body>
	<div layout:fragment="content" class="container my-3">
		<!-- 질 문-->
		<h2 class="border-bottom py-2" th:text="${article.subject}"></h2>
		<div class="card my-3">
			<div class="card-body">
				<div class="card-text" style="white-space: pre-line;" th:text="${article.content}"></div>
				<div class="d-flex justify-content-end">
					<div class="badge bg-light text-dark p-2 text-start">
						<div th:text="${#temporals.format(article.createDate,'yyyy-MM-dd HH:mm')}"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- 답 변 의 갯 수 표 시-->
		<h5 class="border-bottom my-3 py-2" th:text="|${#lists.size(article.answerList)} 개 의 답 변 이 있 습 니 다 .|"></h5>
		<!-- 답 변 반 복 시 작-->
		<div class="card my-3" th:each="answer : ${article.answerList}">
			<div class="card-body">
				<div class="card-text" style="white-space: pre-line;" th:text="${article.content}"></div>
				<div class="d-flex justify-content-end">
					<div class="badge bg-light text-dark p-2 text-start">
						<div th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- 답 변 반 복 끝-->
		<!-- 답 변 작 성-->
		<form th:action="@{|/answer/create/${article.id}|}" th:object="${answerForm}" method="post" class="my-3">
			<div th:replace="~{common/form_errors.html :: formErrorsFragment}"></div>
			<textarea th:field="*{content}" rows="10" class="form-control" required></textarea>
			<input type="submit" value=" 답 변 등 록" class="btn btn-primary my-2">
		</form>
	</div>
</body>
</html>