<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
			layout:decorate="~{common/layout}">
<head>
	<title>Question List View</title>
</head>
<body>
	<div layout:fragment="content" class="container my-3">
		<table class="table">
			<thead class="table-dark">
			<tr>
				<th> 번 호 </th>
				<th> 제 목 </th>
				<th> 작 성 일 시 </th>
			</tr>
			</thead>
			<tbody>
				<tr th:each="article, loop : ${paging}">
					<td th:text="|No. ${paging.getTotalElements - (paging.number * paging.size) - loop.index}|"></td>
					<td>
						<a th:href="@{|/article/detail/${article.id}|}" th:text="${article.subject}"></a>
						<span class="text-danger small ms-2"
						      th:if="${#lists.size(article.answerList) > 0}"
						      th:text="${#lists.size(article.answerList)}">
						</span>
					</td>
					<td th:text="${#temporals.format(article.createDate,'yyyy-MM-dd HH:mm')}"></td>
				</tr>
			</tbody>
		</table>

		<div th:if="${!paging.isEmpty()}">
			<ul class="pagination justify-content-center">

				<li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
					<a class="page-link" th:href="@{|?page=${paging.number-1}|}">
						<span> 이 전 </span>
					</a>
				</li>

				<li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
				    th:if="${page >= paging.number-5 and page <= paging.number+5}"
				    th:classappend="${page == paging.number} ? 'active'"class="page-item">
					<a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
				</li>

				<li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
					<a class="page-link" th:href="@{|?page=${paging.number+1}|}">
						<span> 다 음 </span>
					</a>
				</li>

			</ul>
		</div>

		<a th:href="@{/article/create}" class="btn btn-primary"> 질 문 등 록 하 기 </a>
	</div>
</body>
</html>
